.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* bin stream unused */
.binStream {
  width: 100vw;
  font-size: 1.5rem;
  overflow: hidden;
  white-space: nowrap;
  color: rgba(255, 255, 255, 0.7);
}

.logos {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20vh;
}

.logos>img:first-child {
  width: 36%;
  margin-left: -5%;
}

.logos>img:last-child {
  width: 27%;
}

/* animated cross */
.multiply {
  display: flex;
  /* text-align: center; */
  justify-content: center;
  font-size: 4.5vw;
  /* color:#5ddcff; */
  color: black;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(0, 225, 255);
  filter: drop-shadow(rgba(255, 215, 77, 0.6) -0.5px -0.5px 1px) drop-shadow(rgba(124, 127, 255, 0.6) 0.5px 0.5px 1px);
}


.recruit {
  margin-top: 20vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* about section */
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: space-evenly;
}

.about-box {
  padding: 20px;
  width: 70vw;
  text-align: center;
}

.about-heading {
  font-size: 3rem;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 2rem;
  color: transparent;
  z-index: 2;
  background: -webkit-linear-gradient(0deg, #8961f7, #ff8269);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  /* transition: 5s; */
}

.about-heading:hover {
  background: -webkit-linear-gradient(180deg, #8961f7, #ff8269);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about-content {
  background-color: transparent;
  /* border-radius: 10px; */
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
  color: #fff;
  /* margin-bottom: 20px; */
  text-align: justify;
  font-size: 150%;
  padding: 5% 8%;
}
/* about section ends  */

.scroll {
  position: absolute;
  bottom: 2%;
  display: flex;
  justify-content: end;
  font-size: 200%;
}

/* disco button start */
.discoButton {
  width: 30vw;
  text-align: center;
  position: relative;
  border-radius: 6px;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  display: block;
  z-index: 2;
  overflow: hidden;
  padding: 3px;
}

.discoButton:hover:before {
  animation: buttonAnimate .75s linear infinite;
}

.discoButton:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 100%;
  background: linear-gradient(115deg, #4fcf70, #fad648, #a767e5, #12bcfe, #44ce7b);
  background-size: 50% 100%;
}

.discoButton>span {
  position: relative;
  z-index: 3;
  padding: 0.875rem 0;
  font-size: 2rem;
  align-items: center;
  background: #000;
  border-radius: 3px;
  display: block;
  justify-content: center;
  box-sizing: border-box;
  height: 100%;
}

.discoButton>span:hover {
  color: #fff;
}

@keyframes buttonAnimate {
  0% {
    transform: translateX(-50%);
  }
}
/* disco button ends */

/* projects section  */
.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  justify-content: space-evenly;
}

/* repos section */
.repos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  width: 70vw;
}

/* open source heading */
.openSrc {
  /* margin-top: 5%; */
}


.cards .card2:after {
  position: absolute;
}

.rel,
.cards .card2{ 
  position: relative;
}

.sponsors_wrapper {
  background: #1f2833;
}

.cards{
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards {
  flex-flow: row wrap;
  justify-content: center;
}

.card2 {
  background: transparent;
  height: 120px;
  padding: auto;
  /* margin: 5px; */
  width: 278px;
  /* min-height: 120px; */
  /* max-height: auto; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards .card2{
  padding: 10px;
  margin: 45px;
  /* width: 271px;
  height: 270px; */
  overflow: hidden;
  box-shadow: 0 5px 10px rgba(39, 186, 212, 0.151);
  transform-origin: center top;
  transform-style: preserve-3d;
  transform: translateZ(0);
  transition: 0.3s;
}

.cards .card2 img {
  width: 100%;
  /* min-height: 100%; */
  /* height: 100%; */
  /* height: 100px; */
}

.cards .card2:after {
  content: '';
  z-index: 10;
  width: 200%;
  height: 100%;
  top: -90%;
  left: -20px;
  opacity: 0.1;
  transform: rotate(45deg);
  background: linear-gradient(to top,
      transparent,
      #86827f 15%,
      rgba(255, 255, 255, 0.5));
  transition: 0.3s;
}

.cards .card2:hover,
.cards .card2:focus,
.cards .card2:active {
  box-shadow: 0 8px 16px 3px black;
  transform: translateY(-3px) scale(1.05) rotateX(15deg);
}


.cards .card2:hover:after,
.cards .card2:focus:after,
.cards .card2:active:after {
  transform: rotate(25deg);
  top: -40%;
  opacity: 0.15;
}

.sponserHeader strong {
  font-size: 1.5em;
  margin: 30px auto 20px !important;
}

.sponsorHeader {
  padding: 60px;
  /* font-family: varino; */
  font-size: 4rem;
}

@media screen and (max-width: 770px) {
  .card2 {
    margin: 20px !important;
  }

  .sponsorHeader {
    font-size: 3rem;
  }
}

@media screen and (max-width: 770px) {
  .sponsorHeader {
    font-size: 2rem;
  }

}

.sponsorsDiv {
  width: 80vw;
  margin-top: 7%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sponsors {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

@media (min-width: 412px) and (max-width: 768px) {
  .about-heading {
    font-size: 30px;
  }

  .hero {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 150vh;
    justify-content: space-evenly;
  }

  .openSrc {
    margin-top: 10%;
    text-align: center;
    font-size: 30px;
  }

  .discoButton {
    width: 30vw;
    text-align: center;
    position: relative;
    border-radius: 6px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: block;
    z-index: 2;
    overflow: hidden;
    padding: 3px;
  }

  .discoButton>span {
    position: relative;
    z-index: 3;
    padding: 0.875rem 0;
    font-size: 1.25rem;
    align-items: center;
    background: #000;
    border-radius: 3px;
    display: block;
    justify-content: center;
    box-sizing: border-box;
    height: 100%;
  }
}

@media only screen and (max-width:500px) {
  .repos {
    display: flex;
    flex-direction: column;

  }

  .about-heading {
    font-size: 30px;
    margin-top: 600px;
  }


}